@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "AddPickupDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Pickup Day</h1>

<h4>Customer</h4>
<hr />
<p>
    
    <a asp-action="ChangePickupDay">Change Your Pickup Day</a>|
    <a asp-action="AddPickupDay">Add Additional Pickup Day</a>|
    <a asp-action="SuspendService">Suspend Your Service</a>|
    <a asp-action="ViewBalance">View Balance</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPickupDay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="Address" />
            <input type="hidden" asp-for="ZipCode" />
            <input type="hidden" asp-for="SuspendServiceStart" />
            <input type="hidden" asp-for="SuspendServiceEnd" />
            <input type="hidden" asp-for="PickupDay" />
            <input type="hidden" asp-for="BalanceDue" />
            <input type="hidden" asp-for="IdentityUserID" />


            <div class="form-group">
                <label asp-for="AdditionalPickupDay" class="control-label"></label>
                <input asp-for="AdditionalPickupDay" class="form-control" />
                <span asp-validation-for="AdditionalPickupDay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
